# Quarto render output
_site/
.quarto/

# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# NPM (if ever needed)
node_modules/
package-lock.json
